body{
    background-size: cover;
    background-position: center;
}
.header{
    text-transform: uppercase;
    padding: 5px;
    width: 100%;
    margin: 0px;
    box-shadow: 10px 10px 10px grey;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
}
#status, #baby_status{
    font-size: 20px;
    font-weight: bold;
}
canvas{
    border: 5px black ridge;
    box-shadow: 10px 10px 40px cyan;
    box-shadow: -10px -10px 40px cyan;
    margin-top: 50px;
}